body {
	background-image: linear-gradient(to right, rgb(215, 231, 173) , rgb(133, 138, 134));
}

#chart-area {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}